<% content_for :head do %>
<script language="javascript">
$(document).ready(function () {
    $.ajax({
      crossDomain: true,
      dataType: 'json',
      url: OSM.ACTIVITY_SERVER_URL + '/activities?user_id=<%= @this_user.id %>&format=json',

      success: function(data, status, xhr) {
        $("#activity_stream").html($("#activityStreamTemplate").render(data));
      }
    });
});
</script>
<%= javascript_include_tag "jsrender" %>
<% end %>

<h3>Activity</h3>

<div id="activity_stream"></div>

<script id="activityStreamTemplate" type="text/x-jsrender">
{{if totalCount > 0}}
<div id="activity_stream">
<ul>
{{for items}}
  <li>
    <a href="/user/{{:actor.displayName}}">{{:actor.displayName}}</a> {{:content}}
    <br /><br />
    <a href="">comment</a> | <a href="/browse/changeset/{{:object.id}}">see changeset</a>&nbsp;&nbsp;<span class="activitystream-created">{{:published}}</span>
  </li>
{{/for}}
</ul>
</div>
{{else}}
<div id="activity_stream">
No activities to show for this user.
</div>
{{/if}}
</script>
