<script id="activityStreamTemplate" type="text/x-jsrender">
<button id="activity_stream_reload_button">Reload</button> <input type="checkbox" id="activity_stream_autoreload"> <label for="activity_stream_autoreload">Automatically load for area displayed on the map</label>
<a target="_blank" href="" id="activity_stream_rss_link"><%= image_tag 'feed-icon-14x14.png' %></a>
{{if totalCount > 0}}
<div id="activity_stream">
<ul>
{{for items}}
  <li>
    <a href="/user/{{:actor.displayName}}">{{:actor.displayName}}</a> {{:content}}
    <br /><br />
    <a href="">comment</a> | <a href="">send message</a> | <a href="">zoom</a> |
    <a href="/browse/changeset/{{:object.id}}">see changeset</a>&nbsp;&nbsp;<span class="activitystream-created">{{:published}}</span>
  </li>
{{/for}}
</ul>
</div>
{{else}}
<div id="activity_stream">
No activities to show in this area.
</div>
{{/if}}
</script>
